<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BJL_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,102}}</string>
                <key>sourceSize</key>
                <string>{800,102}</string>
            </dict>
            <key>BJL_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,343},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>BJL_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{213,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,64}}</string>
                <key>sourceSize</key>
                <string>{213,64}</string>
            </dict>
            <key>BJL_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,106},{241,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,99}}</string>
                <key>sourceSize</key>
                <string>{241,99}</string>
            </dict>
            <key>BJL_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{241,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,99}}</string>
                <key>sourceSize</key>
                <string>{241,99}</string>
            </dict>
            <key>BJL_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,152},{96,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,44}}</string>
                <key>sourceSize</key>
                <string>{96,44}</string>
            </dict>
            <key>BJL_07_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,106},{96,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,44}}</string>
                <key>sourceSize</key>
                <string>{96,44}</string>
            </dict>
            <key>BJL_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,452},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>BJL_08_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,452},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>BJL_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,452},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>BJL_09_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,452},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>BJL_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>BJL_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,126},{191,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,56}}</string>
                <key>sourceSize</key>
                <string>{191,56}</string>
            </dict>
            <key>BJL_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,106},{191,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,56}}</string>
                <key>sourceSize</key>
                <string>{191,56}</string>
            </dict>
            <key>BJL_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,68},{191,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,56}}</string>
                <key>sourceSize</key>
                <string>{191,56}</string>
            </dict>
            <key>BJL_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,164},{130,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,38}}</string>
                <key>sourceSize</key>
                <string>{130,38}</string>
            </dict>
            <key>BJL_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,126},{130,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,38}}</string>
                <key>sourceSize</key>
                <string>{130,38}</string>
            </dict>
            <key>BJL_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,164},{128,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,36}}</string>
                <key>sourceSize</key>
                <string>{130,38}</string>
            </dict>
            <key>BJL_27_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,398},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>BJL_27_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,398},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>BJL_27_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>BJL_27_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,384},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>BJL_27_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,294},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>BJL_Cannger_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,398},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_Cannger_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,378},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_Cannger_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,378},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_Cannger_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,378},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_Cannger_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,304},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_Cannger_100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,304},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_Cannger_50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,304},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_Canngerdiss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,424},{75,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{75,66}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_diss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,304},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_diss_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,304},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_diss_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_diss_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,489},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_diss_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_diss_100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,492},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BJL_diss_50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,258},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>ME_SCORE_BACK.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,184},{168,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{168,33}}</string>
                <key>sourceSize</key>
                <string>{178,33}</string>
            </dict>
            <key>WIN_FLAGS_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,87},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,17}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>WIN_FLAGS_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,68},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,17}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>WIN_FLAGS_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,106},{15,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{15,17}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,413},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,413},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,392},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,301},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>head_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,207},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>head_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,207},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>head_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,207},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>head_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,207},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>min_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>min_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,316},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>min_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,316},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>min_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,219},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>min_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,295},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>min_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,219},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>min_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,204},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>min_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,198},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BaiJiaoItem.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c8e913a9051c811dd8fa2f46ec9cbbb$</string>
            <key>textureFileName</key>
            <string>BaiJiaoItem.png</string>
        </dict>
    </dict>
</plist>
