<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>dizhu_man.png</key>
		<dict>
			<key>x</key>
			<integer>544</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>274</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>164</integer>
			<key>originalHeight</key>
			<integer>279</integer>
		</dict>
		<key>dizhu_woman.png</key>
		<dict>
			<key>x</key>
			<integer>866</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>142</integer>
			<key>height</key>
			<integer>262</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>143</integer>
			<key>originalHeight</key>
			<integer>265</integer>
		</dict>
		<key>dz_m_eye0.png</key>
		<dict>
			<key>x</key>
			<integer>857</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>67</integer>
			<key>originalHeight</key>
			<integer>21</integer>
		</dict>
		<key>dz_m_eye1.png</key>
		<dict>
			<key>x</key>
			<integer>789</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>67</integer>
			<key>originalHeight</key>
			<integer>21</integer>
		</dict>
		<key>dz_m_eye2.png</key>
		<dict>
			<key>x</key>
			<integer>925</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>67</integer>
			<key>originalHeight</key>
			<integer>21</integer>
		</dict>
		<key>dz_wm_eye0.png</key>
		<dict>
			<key>x</key>
			<integer>469</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>dz_wm_eye1.png</key>
		<dict>
			<key>x</key>
			<integer>380</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>dz_wm_eye2.png</key>
		<dict>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>farmer_man.png</key>
		<dict>
			<key>x</key>
			<integer>538</integer>
			<key>y</key>
			<integer>318</integer>
			<key>width</key>
			<integer>172</integer>
			<key>height</key>
			<integer>245</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>249</integer>
		</dict>
		<key>farmer_woman.png</key>
		<dict>
			<key>x</key>
			<integer>709</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>156</integer>
			<key>height</key>
			<integer>267</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>272</integer>
		</dict>
		<key>fm_m_eye0.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>938</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>fm_m_eye1.png</key>
		<dict>
			<key>x</key>
			<integer>135</integer>
			<key>y</key>
			<integer>938</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>fm_m_eye2.png</key>
		<dict>
			<key>x</key>
			<integer>68</integer>
			<key>y</key>
			<integer>938</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>fm_wm_eye0.png</key>
		<dict>
			<key>x</key>
			<integer>558</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>fm_wm_eye1.png</key>
		<dict>
			<key>x</key>
			<integer>635</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>fm_wm_eye2.png</key>
		<dict>
			<key>x</key>
			<integer>712</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>m_eye0.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>29</integer>
		</dict>
		<key>m_eye1.png</key>
		<dict>
			<key>x</key>
			<integer>893</integer>
			<key>y</key>
			<integer>771</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>29</integer>
		</dict>
		<key>m_eye2.png</key>
		<dict>
			<key>x</key>
			<integer>816</integer>
			<key>y</key>
			<integer>771</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>29</integer>
		</dict>
		<key>man_head_icon.png</key>
		<dict>
			<key>x</key>
			<integer>551</integer>
			<key>y</key>
			<integer>771</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>manicon.png</key>
		<dict>
			<key>x</key>
			<integer>382</integer>
			<key>y</key>
			<integer>318</integer>
			<key>width</key>
			<integer>155</integer>
			<key>height</key>
			<integer>246</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>155</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>paizi.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>568</integer>
			<key>width</key>
			<integer>427</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>441</integer>
			<key>originalHeight</key>
			<integer>204</integer>
		</dict>
		<key>wm_eye0.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>wm_eye1.png</key>
		<dict>
			<key>x</key>
			<integer>220</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>wm_eye2.png</key>
		<dict>
			<key>x</key>
			<integer>78</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>woman_head_icon.png</key>
		<dict>
			<key>x</key>
			<integer>484</integer>
			<key>y</key>
			<integer>771</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>womanicon.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>318</integer>
			<key>width</key>
			<integer>153</integer>
			<key>height</key>
			<integer>249</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>153</integer>
			<key>originalHeight</key>
			<integer>252</integer>
		</dict>
		<key>back_fen0.png</key>
		<dict>
			<key>x</key>
			<integer>749</integer>
			<key>y</key>
			<integer>771</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>31</integer>
		</dict>
		<key>back_fen1.png</key>
		<dict>
			<key>x</key>
			<integer>715</integer>
			<key>y</key>
			<integer>771</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>31</integer>
		</dict>
		<key>back_fen2.png</key>
		<dict>
			<key>x</key>
			<integer>782</integer>
			<key>y</key>
			<integer>771</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>31</integer>
		</dict>
		<key>banshou.png</key>
		<dict>
			<key>x</key>
			<integer>618</integer>
			<key>y</key>
			<integer>771</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>eye.png</key>
		<dict>
			<key>x</key>
			<integer>202</integer>
			<key>y</key>
			<integer>938</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>18</integer>
		</dict>
		<key>huojian.png</key>
		<dict>
			<key>x</key>
			<integer>429</integer>
			<key>y</key>
			<integer>568</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>huoyan.png</key>
		<dict>
			<key>x</key>
			<integer>711</integer>
			<key>y</key>
			<integer>318</integer>
			<key>width</key>
			<integer>55</integer>
			<key>height</key>
			<integer>220</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>221</integer>
		</dict>
		<key>jbb_bj.png</key>
		<dict>
			<key>x</key>
			<integer>646</integer>
			<key>y</key>
			<integer>771</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>originalHeight</key>
			<integer>47</integer>
		</dict>
		<key>plane.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>771</integer>
			<key>width</key>
			<integer>225</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>225</integer>
			<key>originalHeight</key>
			<integer>136</integer>
		</dict>
		<key>planeyy.png</key>
		<dict>
			<key>x</key>
			<integer>395</integer>
			<key>y</key>
			<integer>771</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>83</integer>
		</dict>
		<key>zawu.png</key>
		<dict>
			<key>x</key>
			<integer>526</integer>
			<key>y</key>
			<integer>568</integer>
			<key>width</key>
			<integer>315</integer>
			<key>height</key>
			<integer>158</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>317</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>settlement_bg.png</key>
		<dict>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>318</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>246</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>246</integer>
		</dict>
		<key>task_k.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>542</integer>
			<key>height</key>
			<integer>316</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>543</integer>
			<key>originalHeight</key>
			<integer>317</integer>
		</dict>
		<key>usermessage.png</key>
		<dict>
			<key>x</key>
			<integer>227</integer>
			<key>y</key>
			<integer>771</integer>
			<key>width</key>
			<integer>167</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>167</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
	</dict>
</dict>
</plist>