<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bomb.png</key>
		<dict>
			<key>x</key>
			<integer>321</integer>
			<key>y</key>
			<integer>372</integer>
			<key>width</key>
			<integer>219</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>77</integer>
		</dict>
		<key>bomb0.png</key>
		<dict>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>313</integer>
			<key>width</key>
			<integer>159</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>165</integer>
			<key>originalHeight</key>
			<integer>138</integer>
		</dict>
		<key>bomb1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>729</integer>
			<key>width</key>
			<integer>141</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>143</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>bomb2.png</key>
		<dict>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>159</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>161</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>bomb3.png</key>
		<dict>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>611</integer>
			<key>width</key>
			<integer>166</integer>
			<key>height</key>
			<integer>159</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>169</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>bomb4.png</key>
		<dict>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>450</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>167</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>bomb5.png</key>
		<dict>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>161</integer>
			<key>width</key>
			<integer>159</integer>
			<key>height</key>
			<integer>151</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>165</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>bomb6.png</key>
		<dict>
			<key>x</key>
			<integer>321</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>175</integer>
			<key>height</key>
			<integer>184</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>9</real>
			<key>originalWidth</key>
			<integer>177</integer>
			<key>originalHeight</key>
			<integer>204</integer>
		</dict>
		<key>bomb7.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>67</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>bubble.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>49</integer>
		</dict>
		<key>jingbao0.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>211</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>105</integer>
			<key>originalHeight</key>
			<integer>105</integer>
		</dict>
		<key>jingbao1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>415</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>105</integer>
			<key>originalHeight</key>
			<integer>105</integer>
		</dict>
		<key>jingbao2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>517</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>105</integer>
			<key>originalHeight</key>
			<integer>105</integer>
		</dict>
		<key>jingbao3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>109</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>105</integer>
			<key>originalHeight</key>
			<integer>105</integer>
		</dict>
		<key>jingbao4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>313</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>105</integer>
			<key>originalHeight</key>
			<integer>105</integer>
		</dict>
		<key>jingbao5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>623</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>105</integer>
			<key>originalHeight</key>
			<integer>105</integer>
		</dict>
		<key>yanwu0.png</key>
		<dict>
			<key>x</key>
			<integer>321</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>185</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>185</integer>
		</dict>
		<key>yanwu1.png</key>
		<dict>
			<key>x</key>
			<integer>321</integer>
			<key>y</key>
			<integer>445</integer>
			<key>width</key>
			<integer>259</integer>
			<key>height</key>
			<integer>233</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>233</integer>
		</dict>
		<key>yanwu2.png</key>
		<dict>
			<key>x</key>
			<integer>620</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>298</integer>
			<key>height</key>
			<integer>242</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>298</integer>
			<key>originalHeight</key>
			<integer>243</integer>
		</dict>
		<key>yanwu3.png</key>
		<dict>
			<key>x</key>
			<integer>620</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>330</integer>
			<key>height</key>
			<integer>258</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>330</integer>
			<key>originalHeight</key>
			<integer>259</integer>
		</dict>
		<key>yanwu4.png</key>
		<dict>
			<key>x</key>
			<integer>620</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>350</integer>
			<key>height</key>
			<integer>250</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>350</integer>
			<key>originalHeight</key>
			<integer>251</integer>
		</dict>
		<key>yun0.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>849</integer>
			<key>width</key>
			<integer>143</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>143</integer>
			<key>originalHeight</key>
			<integer>67</integer>
		</dict>
		<key>yun1.png</key>
		<dict>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>771</integer>
			<key>width</key>
			<integer>175</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>175</integer>
			<key>originalHeight</key>
			<integer>103</integer>
		</dict>
		<key>yun2.png</key>
		<dict>
			<key>x</key>
			<integer>321</integer>
			<key>y</key>
			<integer>679</integer>
			<key>width</key>
			<integer>298</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>298</integer>
			<key>originalHeight</key>
			<integer>141</integer>
		</dict>
		<key>yun3.png</key>
		<dict>
			<key>x</key>
			<integer>620</integer>
			<key>y</key>
			<integer>503</integer>
			<key>width</key>
			<integer>342</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>342</integer>
			<key>originalHeight</key>
			<integer>137</integer>
		</dict>
	</dict>
</dict>
</plist>