<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Bk_LuckyDraw1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>373</integer>
			<key>width</key>
			<integer>566</integer>
			<key>height</key>
			<integer>371</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>566</integer>
			<key>originalHeight</key>
			<integer>371</integer>
		</dict>
		<key>Bk_LuckyDraw2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>566</integer>
			<key>height</key>
			<integer>371</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>566</integer>
			<key>originalHeight</key>
			<integer>371</integer>
		</dict>
		<key>Sprite_LuckDrawButton1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>858</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>Sprite_LuckDrawButton2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>745</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>Sprite_LuckDrawPin.png</key>
		<dict>
			<key>x</key>
			<integer>568</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>30</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
	</dict>
</dict>
</plist>