<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Button_ShopBankDeposit1.png</key>
		<dict>
			<key>x</key>
			<integer>846</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>119</integer>
			<key>originalHeight</key>
			<integer>45</integer>
		</dict>
		<key>Button_ShopBankDeposit2.png</key>
		<dict>
			<key>x</key>
			<integer>606</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>119</integer>
			<key>originalHeight</key>
			<integer>45</integer>
		</dict>
		<key>Button_ShopBankSend1.png</key>
		<dict>
			<key>x</key>
			<integer>241</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>119</integer>
			<key>originalHeight</key>
			<integer>45</integer>
		</dict>
		<key>Button_ShopBankSend2.png</key>
		<dict>
			<key>x</key>
			<integer>121</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>119</integer>
			<key>originalHeight</key>
			<integer>45</integer>
		</dict>
		<key>Button_ShopBankWithdraw1.png</key>
		<dict>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>119</integer>
			<key>originalHeight</key>
			<integer>45</integer>
		</dict>
		<key>Button_ShopBankWithdraw2.png</key>
		<dict>
			<key>x</key>
			<integer>601</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>119</integer>
			<key>originalHeight</key>
			<integer>45</integer>
		</dict>
		<key>Sprite_ShopArticleTableBk1.png</key>
		<dict>
			<key>x</key>
			<integer>254</integer>
			<key>y</key>
			<integer>606</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopArticleTableBk2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>606</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopArticleTableBk3.png</key>
		<dict>
			<key>x</key>
			<integer>760</integer>
			<key>y</key>
			<integer>183</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopArticleTableBk4.png</key>
		<dict>
			<key>x</key>
			<integer>507</integer>
			<key>y</key>
			<integer>183</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopArticleTableBk5.png</key>
		<dict>
			<key>x</key>
			<integer>254</integer>
			<key>y</key>
			<integer>183</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopArticleTableBk6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>183</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopArticleTableBk7.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopBuyArticle1.png</key>
		<dict>
			<key>x</key>
			<integer>606</integer>
			<key>y</key>
			<integer>46</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyArticle2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>46</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyBk.png</key>
		<dict>
			<key>x</key>
			<integer>507</integer>
			<key>y</key>
			<integer>606</integer>
			<key>width</key>
			<integer>457</integer>
			<key>height</key>
			<integer>289</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>457</integer>
			<key>originalHeight</key>
			<integer>289</integer>
		</dict>
		<key>Sprite_ShopBuyCancel1.png</key>
		<dict>
			<key>x</key>
			<integer>726</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>119</integer>
			<key>originalHeight</key>
			<integer>45</integer>
		</dict>
		<key>Sprite_ShopBuyCancel2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>119</integer>
			<key>originalHeight</key>
			<integer>45</integer>
		</dict>
		<key>Sprite_ShopBuyCoins1_1.png</key>
		<dict>
			<key>x</key>
			<integer>243</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyCoins1_2.png</key>
		<dict>
			<key>x</key>
			<integer>364</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyCoins2_1.png</key>
		<dict>
			<key>x</key>
			<integer>485</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyCoins2_2.png</key>
		<dict>
			<key>x</key>
			<integer>727</integer>
			<key>y</key>
			<integer>46</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyCoins3_1.png</key>
		<dict>
			<key>x</key>
			<integer>848</integer>
			<key>y</key>
			<integer>46</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyCoins3_2.png</key>
		<dict>
			<key>x</key>
			<integer>577</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyCoins4_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyCoins4_2.png</key>
		<dict>
			<key>x</key>
			<integer>819</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyCoins5_1.png</key>
		<dict>
			<key>x</key>
			<integer>698</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyCoins5_2.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyCoins6_1.png</key>
		<dict>
			<key>x</key>
			<integer>485</integer>
			<key>y</key>
			<integer>46</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyCoins6_2.png</key>
		<dict>
			<key>x</key>
			<integer>364</integer>
			<key>y</key>
			<integer>46</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyCoins7_1.png</key>
		<dict>
			<key>x</key>
			<integer>243</integer>
			<key>y</key>
			<integer>46</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyCoins7_2.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>46</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ShopBuyInputBk.png</key>
		<dict>
			<key>x</key>
			<integer>308</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>268</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>268</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>Sprite_ShopBuyLabel.png</key>
		<dict>
			<key>x</key>
			<integer>232</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>37</integer>
		</dict>
		<key>Sprite_ShopBuyOk1.png</key>
		<dict>
			<key>x</key>
			<integer>721</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>119</integer>
			<key>originalHeight</key>
			<integer>45</integer>
		</dict>
		<key>Sprite_ShopBuyOk2.png</key>
		<dict>
			<key>x</key>
			<integer>361</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>119</integer>
			<key>originalHeight</key>
			<integer>45</integer>
		</dict>
		<key>Sprite_ShopCoinTableBk1.png</key>
		<dict>
			<key>x</key>
			<integer>254</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopCoinTableBk2.png</key>
		<dict>
			<key>x</key>
			<integer>507</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopCoinTableBk3.png</key>
		<dict>
			<key>x</key>
			<integer>760</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopCoinTableBk4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>465</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopCoinTableBk5.png</key>
		<dict>
			<key>x</key>
			<integer>254</integer>
			<key>y</key>
			<integer>465</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopCoinTableBk6.png</key>
		<dict>
			<key>x</key>
			<integer>507</integer>
			<key>y</key>
			<integer>465</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopCoinTableBk7.png</key>
		<dict>
			<key>x</key>
			<integer>760</integer>
			<key>y</key>
			<integer>465</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ShopDepositLabel.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>37</integer>
		</dict>
		<key>Sprite_ShopSendLabel.png</key>
		<dict>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>37</integer>
		</dict>
		<key>Sprite_ShopWithdrawLabel.png</key>
		<dict>
			<key>x</key>
			<integer>78</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>37</integer>
		</dict>
	</dict>
</dict>
</plist>