<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Tab_Achievement1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>501</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_Achievement2.png</key>
		<dict>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>176</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_AddFriend1.png</key>
		<dict>
			<key>x</key>
			<integer>766</integer>
			<key>y</key>
			<integer>450</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_AddFriend2.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_Alms1.png</key>
		<dict>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>450</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_Alms2.png</key>
		<dict>
			<key>x</key>
			<integer>475</integer>
			<key>y</key>
			<integer>118</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_Article1.png</key>
		<dict>
			<key>x</key>
			<integer>159</integer>
			<key>y</key>
			<integer>450</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_Article2.png</key>
		<dict>
			<key>x</key>
			<integer>159</integer>
			<key>y</key>
			<integer>118</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_Article3.png</key>
		<dict>
			<key>x</key>
			<integer>583</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>58</integer>
		</dict>
		<key>Tab_Article4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>58</integer>
		</dict>
		<key>Tab_Bank1.png</key>
		<dict>
			<key>x</key>
			<integer>732</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>58</integer>
		</dict>
		<key>Tab_Bank2.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>58</integer>
		</dict>
		<key>Tab_BegginerMission1.png</key>
		<dict>
			<key>x</key>
			<integer>159</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_BegginerMission2.png</key>
		<dict>
			<key>x</key>
			<integer>766</integer>
			<key>y</key>
			<integer>176</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_CharmBoard1.png</key>
		<dict>
			<key>x</key>
			<integer>741</integer>
			<key>y</key>
			<integer>348</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_CharmBoard2.png</key>
		<dict>
			<key>x</key>
			<integer>134</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_Coins1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>58</integer>
		</dict>
		<key>Tab_Coins2.png</key>
		<dict>
			<key>x</key>
			<integer>299</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>58</integer>
		</dict>
		<key>Tab_ComQes1.png</key>
		<dict>
			<key>x</key>
			<integer>159</integer>
			<key>y</key>
			<integer>348</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_ComQes2.png</key>
		<dict>
			<key>x</key>
			<integer>791</integer>
			<key>y</key>
			<integer>118</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_Empty1.png</key>
		<dict>
			<key>x</key>
			<integer>757</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_Empty2.png</key>
		<dict>
			<key>x</key>
			<integer>159</integer>
			<key>y</key>
			<integer>176</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_EverydayMission1.png</key>
		<dict>
			<key>x</key>
			<integer>441</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_EverydayMission2.png</key>
		<dict>
			<key>x</key>
			<integer>425</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_FriendMsg1.png</key>
		<dict>
			<key>x</key>
			<integer>608</integer>
			<key>y</key>
			<integer>450</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_FriendMsg2.png</key>
		<dict>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_FriendStatus1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>450</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_FriendStatus2.png</key>
		<dict>
			<key>x</key>
			<integer>766</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_GameRule1.png</key>
		<dict>
			<key>x</key>
			<integer>159</integer>
			<key>y</key>
			<integer>501</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_GameRule2.png</key>
		<dict>
			<key>x</key>
			<integer>134</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_HeroBoard1.png</key>
		<dict>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>348</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_HeroBoard2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_Information1.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_Information2.png</key>
		<dict>
			<key>x</key>
			<integer>608</integer>
			<key>y</key>
			<integer>176</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_LuckBoard1.png</key>
		<dict>
			<key>x</key>
			<integer>308</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_LuckBoard2.png</key>
		<dict>
			<key>x</key>
			<integer>317</integer>
			<key>y</key>
			<integer>176</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_MemberCenter1.png</key>
		<dict>
			<key>x</key>
			<integer>583</integer>
			<key>y</key>
			<integer>348</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_MemberCenter2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>176</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_MyFriend1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>348</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_MyFriend2.png</key>
		<dict>
			<key>x</key>
			<integer>633</integer>
			<key>y</key>
			<integer>118</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_MyMsg1.png</key>
		<dict>
			<key>x</key>
			<integer>599</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_MyMsg2.png</key>
		<dict>
			<key>x</key>
			<integer>317</integer>
			<key>y</key>
			<integer>118</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_MyRecommender1.png</key>
		<dict>
			<key>x</key>
			<integer>475</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_MyRecommender2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>118</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_Recommend1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_Recommend2.png</key>
		<dict>
			<key>x</key>
			<integer>608</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_ReferenceBoard1.png</key>
		<dict>
			<key>x</key>
			<integer>766</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_ReferenceBoard2.png</key>
		<dict>
			<key>x</key>
			<integer>292</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_RichBoard1.png</key>
		<dict>
			<key>x</key>
			<integer>317</integer>
			<key>y</key>
			<integer>450</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_RichBoard2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_ScoreBoard1.png</key>
		<dict>
			<key>x</key>
			<integer>317</integer>
			<key>y</key>
			<integer>348</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_ScoreBoard2.png</key>
		<dict>
			<key>x</key>
			<integer>581</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_SysMsg1.png</key>
		<dict>
			<key>x</key>
			<integer>317</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_SysMsg2.png</key>
		<dict>
			<key>x</key>
			<integer>739</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_TeacherBoard1.png</key>
		<dict>
			<key>x</key>
			<integer>633</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Tab_TeacherBoard2.png</key>
		<dict>
			<key>x</key>
			<integer>448</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
	</dict>
</dict>
</plist>