<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{122,124}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{122,124}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,124}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{122,124}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,378},{120,122}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{120,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,254},{120,122}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{120,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,124},{118,120}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{118,120}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{116,120}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{116,120}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,122},{116,118}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{116,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,120},{116,118}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{116,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,238},{116,116}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{116,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,356},{114,116}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{114,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,240},{114,116}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{114,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{118,118}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{118,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{120,120}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{120,120}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{120,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{120,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>3_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{120,124}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{120,124}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StarFish03.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6407da5cb942fb1dc4145956ca25ffd2$</string>
            <key>textureFileName</key>
            <string>StarFish03.png</string>
        </dict>
    </dict>
</plist>
