<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_fen0.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,139},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>back_fen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,106},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>back_fen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,73},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>banshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,971},{27,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,66}}</string>
                <key>sourceSize</key>
                <string>{27,66}</string>
            </dict>
            <key>dizhu_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{164,275}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,275}}</string>
                <key>sourceSize</key>
                <string>{164,279}</string>
            </dict>
            <key>dizhu_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{143,263}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,263}}</string>
                <key>sourceSize</key>
                <string>{143,265}</string>
            </dict>
            <key>dz_m_eye0.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,996},{67,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,21}}</string>
                <key>sourceSize</key>
                <string>{67,21}</string>
            </dict>
            <key>dz_m_eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,996},{67,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,21}}</string>
                <key>sourceSize</key>
                <string>{67,21}</string>
            </dict>
            <key>dz_m_eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1000},{67,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,21}}</string>
                <key>sourceSize</key>
                <string>{67,21}</string>
            </dict>
            <key>dz_wm_eye0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,511},{88,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,27}}</string>
                <key>sourceSize</key>
                <string>{88,27}</string>
            </dict>
            <key>dz_wm_eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,441},{88,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,27}}</string>
                <key>sourceSize</key>
                <string>{88,27}</string>
            </dict>
            <key>dz_wm_eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,351},{88,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,27}}</string>
                <key>sourceSize</key>
                <string>{88,27}</string>
            </dict>
            <key>eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,172},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>farmer_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,797},{172,245}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,245}}</string>
                <key>sourceSize</key>
                <string>{172,249}</string>
            </dict>
            <key>farmer_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,250},{157,268}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,268}}</string>
                <key>sourceSize</key>
                <string>{157,272}</string>
            </dict>
            <key>fm_m_eye0.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,366},{66,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{66,20}</string>
            </dict>
            <key>fm_m_eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,993},{66,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{66,20}</string>
            </dict>
            <key>fm_m_eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,971},{66,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{66,20}</string>
            </dict>
            <key>fm_wm_eye0.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,971},{76,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,23}}</string>
                <key>sourceSize</key>
                <string>{76,23}</string>
            </dict>
            <key>fm_wm_eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,996},{76,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,23}}</string>
                <key>sourceSize</key>
                <string>{76,23}</string>
            </dict>
            <key>fm_wm_eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,971},{76,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,23}}</string>
                <key>sourceSize</key>
                <string>{76,23}</string>
            </dict>
            <key>huojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,614},{96,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,162}}</string>
                <key>sourceSize</key>
                <string>{96,162}</string>
            </dict>
            <key>huoyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,797},{55,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,221}}</string>
                <key>sourceSize</key>
                <string>{55,221}</string>
            </dict>
            <key>jbb_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{69,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,45}}</string>
                <key>sourceSize</key>
                <string>{69,47}</string>
            </dict>
            <key>m_eye0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>m_eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,206},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>m_eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,172},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>man_head_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,772},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>manicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,549},{155,246}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,246}}</string>
                <key>sourceSize</key>
                <string>{155,248}</string>
            </dict>
            <key>paizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{427,202}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{427,202}}</string>
                <key>sourceSize</key>
                <string>{441,204}</string>
            </dict>
            <key>plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{225,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,136}}</string>
                <key>sourceSize</key>
                <string>{225,136}</string>
            </dict>
            <key>planeyy.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,614},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>settlement_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,321},{226,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,246}}</string>
                <key>sourceSize</key>
                <string>{226,246}</string>
            </dict>
            <key>task_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{543,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,317}}</string>
                <key>sourceSize</key>
                <string>{543,317}</string>
            </dict>
            <key>usermessage.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,520},{167,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,92}}</string>
                <key>sourceSize</key>
                <string>{167,92}</string>
            </dict>
            <key>wm_eye0.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,321},{70,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,28}}</string>
                <key>sourceSize</key>
                <string>{70,28}</string>
            </dict>
            <key>wm_eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,321},{70,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,28}}</string>
                <key>sourceSize</key>
                <string>{70,28}</string>
            </dict>
            <key>wm_eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,321},{70,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,28}}</string>
                <key>sourceSize</key>
                <string>{70,28}</string>
            </dict>
            <key>woman_head_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,704},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>womanicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,366},{153,250}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,250}}</string>
                <key>sourceSize</key>
                <string>{153,252}</string>
            </dict>
            <key>zawu.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,206},{315,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{315,158}}</string>
                <key>sourceSize</key>
                <string>{317,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardtable3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8952782ceb5803ffd6ac5ed733124483$</string>
            <key>textureFileName</key>
            <string>cardtable3.png</string>
        </dict>
    </dict>
</plist>
