<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Sprite_Exchange1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>37</integer>
		</dict>
		<key>Sprite_Exchange2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>46</integer>
			<key>width</key>
			<integer>800</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>800</integer>
			<key>originalHeight</key>
			<integer>67</integer>
		</dict>
		<key>Sprite_Exchange3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>114</integer>
			<key>width</key>
			<integer>342</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>342</integer>
			<key>originalHeight</key>
			<integer>69</integer>
		</dict>
		<key>Sprite_ExchangeButton1.png</key>
		<dict>
			<key>x</key>
			<integer>199</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ExchangeButton2.png</key>
		<dict>
			<key>x</key>
			<integer>78</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>Sprite_ExchangeTableBk1.png</key>
		<dict>
			<key>x</key>
			<integer>344</integer>
			<key>y</key>
			<integer>114</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ExchangeTableBk2.png</key>
		<dict>
			<key>x</key>
			<integer>597</integer>
			<key>y</key>
			<integer>114</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ExchangeTableBk3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>255</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ExchangeTableBk4.png</key>
		<dict>
			<key>x</key>
			<integer>254</integer>
			<key>y</key>
			<integer>255</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Sprite_ExchangeTableBk5.png</key>
		<dict>
			<key>x</key>
			<integer>507</integer>
			<key>y</key>
			<integer>255</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>252</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
	</dict>
</dict>
</plist>