<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Sprite_PlayerInfo1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>452</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Sprite_PlayerInfo2.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Sprite_PlayerInfo3.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>226</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Sprite_PlayerInfo4.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>168</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Sprite_PlayerInfo5.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Sprite_PlayerInfo6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>394</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Sprite_PlayerInfo7.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>343</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Sprite_PlayerInfo8.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>157</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Sprite_PlayerInfo9.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>277</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>Sprite_PlayerInfo10.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>354</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>Sprite_PlayerInfo11.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>431</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>Sprite_PlayerInfo12.png</key>
		<dict>
			<key>x</key>
			<integer>374</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>Sprite_PlayerInfo13.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>214</integer>
			<key>height</key>
			<integer>341</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>214</integer>
			<key>originalHeight</key>
			<integer>341</integer>
		</dict>
	</dict>
</dict>
</plist>