<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seagrass_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,430},{250,212}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,49},{250,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{250,212}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,49},{250,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,216},{250,212}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,49},{250,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,216},{250,212}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,49},{250,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,216},{250,212}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,49},{250,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{250,212}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,49},{250,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,430},{248,212}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,49},{248,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,430},{248,212}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,49},{248,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{250,212}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,49},{250,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{250,212}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,49},{250,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,212}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,49},{250,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,212}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,49},{250,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1624},{80,76}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{80,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1544},{80,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{80,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1464},{82,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1382},{82,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1300},{82,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1054},{84,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,972},{84,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,890},{84,80}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,890},{84,80}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,972},{84,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1054},{84,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1300},{82,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1382},{82,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1464},{82,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_3_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1544},{80,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{80,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1624},{80,76}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{80,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1544},{80,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{80,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1464},{82,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1218},{82,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1136},{82,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,808},{84,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,726},{84,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,644},{84,80}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,644},{84,80}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,726},{84,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,808},{84,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1136},{82,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1218},{82,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1464},{82,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1544},{80,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{80,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seagrass_5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{198,208}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,25},{198,208}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>seagrass_5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1640},{198,188}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{198,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>seagrass_5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1454},{198,188}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{198,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>seagrass_5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1450},{198,188}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{198,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>seagrass_5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{198,188}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{198,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>seagrass_5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1648},{198,186}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{198,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>seagrass_5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1450},{198,188}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{198,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>seagrass_5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1264},{198,188}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{198,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>seagrass_5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{198,188}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{198,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>seagrass_5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1260},{198,188}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{198,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>seagrass_5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1068},{198,190}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{198,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>seagrass_6_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1062},{210,200}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,59},{210,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_6_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1252},{210,196}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,62},{210,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_6_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{228,210}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,48},{228,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_6_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,644},{224,214}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,43},{224,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_6_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1058},{216,192}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{216,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_6_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,644},{226,208}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,48},{226,208}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_6_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{224,210}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,47},{224,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,644},{224,206}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,49},{224,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,854},{224,212}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,45},{224,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,860},{222,200}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,57},{222,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>seagrass_6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,852},{222,204}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,56},{222,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>seagrass.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efacb5d0b1e7b6f3b428d1507cdd5a03$</string>
            <key>textureFileName</key>
            <string>seagrass.png</string>
        </dict>
    </dict>
</plist>
