<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bomb_11_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,152}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{160,152}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Bomb_11_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{148,150}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{148,150}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Bomb_11_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,158},{150,154}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{150,154}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Bomb_11_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{154,158}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{154,158}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Bomb_11_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,290},{152,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{152,150}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Bomb_11_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{146,156}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,14},{146,156}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Bomb_11_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{156,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{156,154}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Bomb_11_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,150},{156,138}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{156,138}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Bomb_11_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,310},{148,150}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{148,150}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Bomb_11_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,460},{142,144}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,25},{142,144}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Bomb_11_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,442},{150,140}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{150,140}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bomb_11.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bd3e451bd68580d511c0af5a66a75fd$</string>
            <key>textureFileName</key>
            <string>Bomb_11.png</string>
        </dict>
    </dict>
</plist>
