<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bomb_48_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{198,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{198,224}}</string>
                <key>sourceSize</key>
                <string>{210,230}</string>
            </dict>
            <key>Bomb_48_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{194,222}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{194,222}}</string>
                <key>sourceSize</key>
                <string>{210,230}</string>
            </dict>
            <key>Bomb_48_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,684},{186,216}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{186,216}}</string>
                <key>sourceSize</key>
                <string>{210,230}</string>
            </dict>
            <key>Bomb_48_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,226},{182,212}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{182,212}}</string>
                <key>sourceSize</key>
                <string>{210,230}</string>
            </dict>
            <key>Bomb_48_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,226},{176,206}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{176,206}}</string>
                <key>sourceSize</key>
                <string>{210,230}</string>
            </dict>
            <key>Bomb_48_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{174,202}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{174,202}}</string>
                <key>sourceSize</key>
                <string>{210,230}</string>
            </dict>
            <key>Bomb_48_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,440},{180,208}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{180,208}}</string>
                <key>sourceSize</key>
                <string>{210,230}</string>
            </dict>
            <key>Bomb_48_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,460},{182,212}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{182,212}}</string>
                <key>sourceSize</key>
                <string>{210,230}</string>
            </dict>
            <key>Bomb_48_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{188,218}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{188,218}}</string>
                <key>sourceSize</key>
                <string>{210,230}</string>
            </dict>
            <key>Bomb_48_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{190,222}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{190,222}}</string>
                <key>sourceSize</key>
                <string>{210,230}</string>
            </dict>
            <key>Bomb_48_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,230}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{192,230}}</string>
                <key>sourceSize</key>
                <string>{210,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bomb_48.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60e19f5444c63e24b6b35965262476c4$</string>
            <key>textureFileName</key>
            <string>Bomb_48.png</string>
        </dict>
    </dict>
</plist>
