<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DeadFish_01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{53,27}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{53,27}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>DeadFish_01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{55,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{55,23}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>DeadFish_01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,160},{53,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{53,23}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>DeadFish_01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,83},{53,25}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{53,25}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>DeadFish_01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{51,23}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{51,23}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>DeadFish_01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{53,23}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{53,23}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>Fish_01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,27},{53,27}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{53,27}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>Fish_01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,135},{53,23}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{53,23}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>Fish_01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{55,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{55,23}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>Fish_01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,185},{51,23}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{51,23}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>Fish_01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{53,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{53,23}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>Fish_01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{53,25}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{53,25}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>Fish_01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,56},{53,25}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{53,25}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>Fish_01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,110},{53,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{53,23}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>Fish_01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{51,23}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{51,23}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>Fish_01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{55,23}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>Fish_01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{53,23}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{53,23}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish_11.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fadb689c3bd74b4f07410718e4ba719e$</string>
            <key>textureFileName</key>
            <string>Fish_11.png</string>
        </dict>
    </dict>
</plist>
