<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DeadFish_30_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,129},{305,119}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{305,119}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>DeadFish_30_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{305,121}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{305,121}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>DeadFish_30_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{305,125}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{305,125}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>DeadFish_30_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,379},{299,125}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,27},{299,125}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>DeadFish_30_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,379},{299,125}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,27},{299,125}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>DeadFish_30_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{305,125}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{305,125}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>DeadFish_30_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{305,121}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{305,121}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>DeadFish_30_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,129},{305,119}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{305,119}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>DeadFish_30_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{301,115}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,32},{301,115}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,129},{305,119}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{305,119}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,127},{305,121}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,30},{305,121}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{305,121}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{305,121}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{305,123}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,29},{305,123}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{305,125}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{305,125}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{301,125}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,28},{301,125}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,379},{299,125}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,27},{299,125}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,682},{299,127}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,26},{299,127}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,379},{299,125}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,27},{299,125}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{301,125}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,28},{301,125}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{305,125}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{305,125}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{305,123}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,29},{305,123}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{305,121}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{305,121}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,127},{305,121}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,30},{305,121}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,129},{305,119}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{305,119}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,250},{303,115}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,32},{303,115}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,250},{301,115}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,32},{301,115}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
            <key>Fish_30_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{301,113}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,33},{301,113}}</string>
                <key>sourceSize</key>
                <string>{435,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish_30.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d8cd04264b7ccaabdeb8869ddc61ffd$</string>
            <key>textureFileName</key>
            <string>Fish_30.png</string>
        </dict>
    </dict>
</plist>
